In [1]:
#Import libraries 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sqlite3

In [4]:
import os
print("Connected to:", os.path.abspath('events.db'))

Connected to: /Users/jillcusick/Desktop/MLDS-400/ticketmaster-data-collection/src/analysis/events.db

In [5]:
#Connect to database
conn = sqlite3.connect('../../events.db')

#List tables in database
cursor = conn.cursor()
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()
print(tables)

[('venues',), ('artists',), ('events',), ('event_price_history',)]

In [14]:
#Load artists database table into Pandas for analysis
artists = pd.read_sql('SELECT * FROM artists', conn)
artists.head()

     artist_id                 artist_name
0  K8vZ917hjk7                      Sylvie
1  K8vZ91713Gf            Widespread Panic
2  K8vZ9179Xc7  Sinatra Meets The Sopranos
3  K8vZ917jrdf                       Vegyn
4  K8vZ9175sMf         Day Out with Thomas

In [15]:
len(artists)

3707

In [16]:
#Load event_price_history database table into Pandas for analysis
price_hist = pd.read_sql('SELECT * FROM event_price_history', conn)
price_hist.head()

           event_id        snapshot_date  min_price  max_price currency
0    rZ7HnEZ1AfAbON  2025-11-03 00:00:00     199.00     199.00      USD
1     G5dVZbbwUsOXz  2025-11-03 00:00:00        NaN        NaN     None
2  ZFwVzcymWZ17keas  2025-11-03 00:00:00        NaN        NaN     None
3    rZ7HnEZ1Af_6QK  2025-11-03 00:00:00      49.51      49.51      USD
4    rZ7HnEZ1AfbKPK  2025-11-03 00:00:00      33.95      33.95      USD

In [17]:
len(price_hist)

33222

In [18]:
#Load events database table into Pandas for analysis
events = pd.read_sql('SELECT * FROM events', conn)
events.head()

,event_id,name,url,type,locale,status,datetime,onsale_date,offsale_date,segment,genre,subgenre,family,artist_id,venue_id
0,rZ7HnEZ1AfAbON,Ticket for you + 1 for ALL 2025 shows!,https://www.ticketweb.com/event/ticket-for-you...,event,en-us,offsale,2025-01-09 08:00:00,2025-01-09 13:35:00,2025-02-01 05:55:00,Music,World,World,None,None,rZ7HnEZ178s4g
1,G5dVZbbwUsOXz,Abono Temporada NY Jazz All Stars 2025,https://www.ticketmaster.com.mx/abono-temporad...,event,en-us,onsale,2025-09-06 20:30:00,2025-02-17 19:00:00,2025-11-23 02:30:00,Music,Jazz,Jazz,None,None,KovZpZA6teaA
2,ZFwVzcymWZ17keas,SYLVIE (USA) IN RESIDENCE AT THE ELTHAM,https://www.moshtix.com.au/v2/event/sylvie-usa...,event,en-us,onsale,2025-10-25 19:00:00,2025-06-18 20:30:00,2025-11-08 05:00:00,Music,Rock,Indie Rock,None,K8vZ917hjk7,KovZ917Am63
3,rZ7HnEZ1Af_6QK,MOBWEEN 3 NIGHT PASS - Acid Mothers Temple (10...,https://www.ticketweb.com/event/mobween-3-nigh...,event,en-us,offsale,2025-10-30 20:00:00,2025-10-27 22:00:00,2025-10-31 01:00:00,Music,Alternative,Alternative Rock,None,K8vZ91713Gf,rZ7HnEZ1734-A
4,rZ7HnEZ1AfbKPK,"Vinyl Weekend Pass (4 Rooms, 8+ Artists)",https://www.ticketweb.com/event/vinyl-weekend-...,event,en-us,offsale,2025-10-31 22:00:00,2025-10-10 16:00:00,2025-11-02 07:00:00,Music,Other,None,None,None,rZ7HnEZ17qf40

In [19]:
len(events)

9302

In [10]:
#Load venues database table into Pandas for analysis
venues = pd.read_sql('SELECT * FROM venues', conn)
venues.head()

,venue_id,venue_name,city,state,country,lat,lon
0,rZ7HnEZ178s4g,Blue Moon Saloon,Lafayette,Louisiana,United States Of America,30.220444,-92.016281
1,KovZpZA6teaA,El Cantoral,Mexico,Ciudad de México,Mexico,19.361737,-99.166137
2,KovZ917Am63,Eltham Hotel,Eltham,New South Wales,Australia,-28.755979,153.393957
3,rZ7HnEZ1734-A,The Merry Widow,Mobile,Alabama,United States Of America,30.690695,-88.042412
4,rZ7HnEZ17qf40,Club Vinyl,Denver,Colorado,United States Of America,39.733550,-104.987060

In [20]:
len(venues)

2748